body {
	overflow: hidden;
	width:100%;
	margin: auto;
	background-image: url("../images/concrete-texture.png");
}

.container {
	width: 960px;
	margin: auto;
}

.container2 {
	width: 960px;
	margin: auto;
	overflow: hidden;
}

.header {
	background-color: #ffffff;
	width:100%;
	top: 0;
	position: fixed;
	border-bottom: 2px solid #cccccc;
	z-index: 1;
}

.logo {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 50px;
	width: 250px;
	font-size: 34px;
	padding: 30px 20px 20px 20px;
}

h1 {
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
	text-decoration: none;
	color: #cccccc;

}


.mynav {
	font-size: 20px;
	list-style: none;
	float:left;
	margin-left: 20px;
	padding-top: 40px;
}

.nav {
	float:right;
}

.content {
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 650px;
	margin-top: 125px;
	margin-right: 20px;
	margin-bottom: 50px;
}

.header2 {
	padding: 20px;
	margin-left: 20px;
}

.inside1{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {margin-top: 10px;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
	margin-bottom: 20px;
	font-size: 30px;
}

p {
	font-size: 14pt;
	line-height: 2;
}


.sidebar {
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 270px;
	margin-top: 125px;
	margin-left: 10px;
}

.bio-image {
	float: left;
	margin-right: 15px;
	margin-bottom: 1px;
}

.contentinside {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

.footer1 {
	position: absolute;
	bottom: 0;
	background-color: #666666;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px solid #4aaaa5;
	text-align: center;
}

}

.myul2 {
	list-style: none;
}

.mylist {
	display: inline;
}

.portimg {
	width: 270px;
	height: 200px;
	display: inline-block;
	margin-right: 12px;
	margin-top: 18px;
	position: relative;
}

.portimg img {
	width: 100%;
	height: 100%;
}

h3 {
	position: absolute;
	top: 60%;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	width: 100%;
	background-color: #4aaaa5;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}

.input1 {
	width: 575px;
	height: 33px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 14px;
}

.input2 {
	width: 584px;
	padding-bottom: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #777777;
	font-size: 14px;
}

.contactinfo {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	color: #777777;
}

button {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 115px;
	height: 40px;
	background-color: #4aaaa5;
	color: white;
	font-size: 14pt;
	margin: 10px 0px 10px 0px;
}
