body {
	width:100%;
	margin: auto;
	background-image: url("../images/concrete-texture.png");
}

.container {
	width: 960px;
	margin: auto;
}

.header {
	background-color: #ffffff;
	width:100%;
	top: 0;
	position: fixed;
	border-bottom: 2px solid #cccccc;
}

.logo {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 50px;
	width: 250px;
	font-size: 40px;
	padding: 20px 20px 20px 20px;
}


a {
	text-decoration: none;
	color: #cccccc;

}


.mynav {
	font-size: 20px;
	list-style: none;
	float:left;
	margin-left: 20px;
	padding-top: 40px;
}

.nav {
	float:right;
}

.content {
	float: left;
	background-color: #ffffff;
	width: 650px;
	margin-top: 125px;
}

.header2 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
	margin-bottom: 20px;
	font-size: 30px;
}


.sidebar {
	float: left;
	background-color: #ffffff;
	width: 270px;
	margin-top: 125px;
	margin-left: 50px;
}

.bio-image {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.contentinside {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #666666;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px solid #4aaaa5;
	text-align: center;
}

.myul2 {
	list-style: none;
}

.mylist {
	display: inline;
}

.portimg {
	width: 270px;
	height: 200px;
	display: inline-block;
	margin-right: 12px;
	margin-top: 18px;
	position: relative;
}

.portimg img {
	width: 100%;
	height: 100%;
}

h3 {
	position: absolute;
	top: 60%;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	width: 100%;
	background-color: #4aaaa5;
	padding-top: 20px;
	padding-bottom: 20px;
}